#
# Copyright (c) 2018-2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Nordic nRF Connect"

rsource "drivers/Kconfig"
rsource "modules/Kconfig"
rsource "subsys/Kconfig"

endmenu
