#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Libraries"

rsource "at_cmd_parser/Kconfig"
rsource "at_host/Kconfig"
rsource "at_monitor/Kconfig"
rsource "lte_link_control/Kconfig"
rsource "multithreading_lock/Kconfig"
rsource "nrf_modem_lib/Kconfig"
rsource "pdn/Kconfig"

endmenu
